# Documentation team is in charge of changelogs.
# No changes should go w/o approval by doc team
/changelogs/ @tarantool/doc
/.github/    @tarantool/devx
/test/       @tarantool/devx
/.test.mk    @tarantool/devx
/test-run/   @tarantool/devx
# Alexander Turenko wants to track all the activities around the
# declarative configuration.
/src/box/lua/config/  @Totktonada
/test/config-luatest/ @Totktonada
