# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[CMakeLists.txt]
indent_style = space
indent_size = 4

[*.cmake]
indent_style = space
indent_size = 4

[*.lua]
indent_style = space
indent_size = 4

[*.{h,c,cc}]
indent_style = tab
tab_width = 8
