_CPack_Packages
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.o
*.reject
*.so
*~
.gitignore
.gdb_history
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
RPM
TAGS
extra/txt2c
client/tarantool/tarantool
client/tarantool_checksum/tarantool_checksum
cmake_install.cmake
config.mk
connector/c/tnt/libtarantool.so.1
connector/c/tnt/libtarantool.so.1.1
connector/c/tntnet/libtarantoolnet.so.1
connector/c/tntnet/libtarantoolnet.so.1.1
connector/c/tntsql/libtarantoolsql.so.1
connector/c/tntsql/libtarantoolsql.so.1.1
connector/c/tntrpl/libtarantoolrpl.so.1
connector/c/tntrpl/libtarantoolrpl.so.1.1
doc/developer/tarantool_developer_guide.html
doc/developer/tarantool_developer_guide.txt
doc/man/tarantool.1
doc/man/tarantool_box.1
doc/user/tarantool_user_guide.html
doc/user/tarantool_user_guide.txt
doc/tnt.ent
doc/www-data/*.html
doc/www-data/*.ru.html
doc/www-data.in/download
extra/rpm.spec
include/config.h
install_manifest.txt
lcov
src/box/lua/*.lua.c
src/box/tarantool_box
src/box/tarantool.cfg
tarantool-*.tar.gz
test/box/protocol
test/box/connector
test/connector_c/rpl
test/connector_c/snap
test/connector_c/tt
test/connector_c/tp
test/connector_c/update
test/connector_c/xlog
test/lib/*.pyc
test/lib/*/*.pyc
test/unit/base64
test/unit/bit_test
test/unit/bitset_basic_test
test/unit/bitset_iterator_test
test/unit/bitset_index_test
test/unit/mhash
test/unit/rlist
test/unit/rope
test/unit/rope_avl
test/unit/rope_basic
test/unit/rope_stress
test/unit/queue
test/var
third_party/luajit/src/luajit
third_party/luajit/lib/vmdef.lua
third_party/luajit/src/buildvm
third_party/luajit/src/lj_bcdef.h
third_party/luajit/src/lj_ffdef.h
third_party/luajit/src/lj_folddef.h
third_party/luajit/src/lj_libdef.h
third_party/luajit/src/lj_recdef.h
third_party/luajit/src/lj_vm.s
VERSION
