[submodule "third_party/lua-cjson"]
	path = third_party/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "third_party/luajit"]
	path = third_party/luajit
    url = https://github.com/tarantool/luajit.git
