[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://github.com/tarantool/luajit.git
	ignore = dirty
	branch = tarantool-1.7
[submodule "third_party/libyaml"]
	path = third_party/libyaml
	url = https://github.com/tarantool/libyaml.git
	ignore = dirty
[submodule "src/lib/msgpuck"]
	path = src/lib/msgpuck
	url = https://github.com/tarantool/msgpuck.git
	ignore = dirty
[submodule "third_party/luafun"]
	path = third_party/luafun
	url = https://github.com/rtsisyk/luafun.git
	ignore = dirty
[submodule "test-run"]
	path = test-run
	url = https://github.com/tarantool/test-run.git
	ignore = dirty
[submodule "src/lib/small"]
	path = src/lib/small
	url = https://github.com/tarantool/small.git
	ignore = dirty
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://github.com/tarantool/lz4.git
	ignore = dirty
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/tarantool/zstd.git
	ignore = dirty
