_CPack_Packages
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.o
*.reject
*.so
*~
.gitignore
.gdb_history
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
Doxyfile.API
RPM
*.src.rpm
*.i386.rpm
*.x86_64.rpm
tags
extra/txt2c
extra/bin2c
extra/dist/tarantoolctl.1
cmake_install.cmake
config.mk
doc/doxygen/
doc/api/
doc/www/content/doc/dev_guide.html
doc/www/content/doc/tnt.css
doc/www/content/doc/user_guide.html
doc/www/content/doc/user_guide/
doc/developer/dev_guide.txt
doc/man/tarantool.1
doc/man/tarantool_box.1
doc/user/tarantool_user_guide.txt
doc/tnt.ent
extra/rpm.spec
extra/rpm/tarantool.rpm.spec
extra/dist/tarantool.service
include/tarantool/config.h
src/trivia/config.h
install_manifest.txt
lcov
src/box/bootstrap.h
src/lua/*.lua.c
src/box/lua/*.lua.c
src/tarantool
src/module.h
tarantool-*.tar.gz
test/lib/
test/unit/*.test
test/unit/fiob
test/var
third_party/luajit/src/luajit
third_party/luajit/lib/vmdef.lua
third_party/luajit/src/buildvm
third_party/luajit/src/lj_bcdef.h
third_party/luajit/src/lj_ffdef.h
third_party/luajit/src/lj_folddef.h
third_party/luajit/src/lj_libdef.h
third_party/luajit/src/lj_recdef.h
third_party/luajit/src/lj_vm.s
VERSION
!FreeBSD/databases/tarantool/Makefile
src/00000000000000000001.snap
doc/sphinx/_build/*
!doc/sphinx/_build/.gitignore
doc/www/content/doc
extra/dist/default/tarantool
extra/com.tarantool.tarantool.plist
extra/postflight
