_CPack_Packages
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.gcov
coverage/
coverage.info
*.o
*.reject
*.so
*~
*.swp*
.gitignore
.gdb_history
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Testing/
./build
/build
# Ignore Makefile in the stupid way for `tar --exclude-vcs-ignores`
/Makefile
./Makefile
src/Makefile
src/*/Makefile
src/*/*/Makefile
src/*/*/*/Makefile
doc/Makefile
doc/*/Makefile
extra/Makefile
extra/*/Makefile
extra/luarocks/site_config.lua
test/Makefile
test/*/Makefile
Doxyfile.API
RPM
*.src.rpm
*.i386.rpm
*.x86_64.rpm
tags
extra/txt2c
extra/bin2c
extra/lemon
extra/mkkeywordhash
extra/dist/tarantoolctl
extra/dist/tarantoolctl.1
extra/dist/tarantool.logrotate
extra/dist/tarantool@.service
extra/dist/tarantool.tmpfiles.conf
extra/dist/tarantool-generator
extra/exports.*
cmake_install.cmake
config.mk
config.guess
config.sub
doc/doxygen
doc/api
doc/www/content/doc/dev_guide.html
doc/www/content/doc/tnt.css
doc/www/content/doc/user_guide.html
doc/www/content/doc/user_guide/
doc/developer/dev_guide.txt
doc/man/tarantool.1
doc/man/tarantool_box.1
doc/user/tarantool_user_guide.txt
doc/tnt.ent
rpm/tarantool-1*.spec
extra/rpm.spec
extra/rpm/tarantool.rpm.spec
include/tarantool/config.h
src/trivia/config.h
install_manifest.txt
lcov
src/box/bootstrap.h
src/lua/*.lua.c
src/box/lua/*.lua.c
src/tarantool
src/module.h
tarantool-*.tar.gz
test/lib/
test/unit/*.test
test/unit/fiob
test/small
test/var
third_party/luajit/src/luajit
third_party/luajit/lib/vmdef.lua
third_party/luajit/src/buildvm
third_party/luajit/src/lj_bcdef.h
third_party/luajit/src/lj_ffdef.h
third_party/luajit/src/lj_folddef.h
third_party/luajit/src/lj_libdef.h
third_party/luajit/src/lj_recdef.h
third_party/luajit/src/lj_vm.s
VERSION
src/00000000000000000001.snap
doc/sphinx/_build/*
!doc/sphinx/_build/.gitignore
doc/www/content/doc
extra/dist/default/tarantool
extra/com.tarantool.tarantool.plist
extra/postflight
build-area/*
debian/files
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/tarantool-common.debhelper.log
debian/tarantool-common.postinst.debhelper
debian/tarantool-common.postrm.debhelper
debian/tarantool-common.prerm.debhelper
debian/tarantool-common.substvars
debian/tarantool-common.install
debian/tarantool-common/*
debian/tarantool-dev.debhelper.log
debian/tarantool-dev.substvars
debian/tarantool-dev.postinst.debhelper
debian/tarantool-dev.postrm.debhelper
debian/tarantool-dev/*
debian/tarantool.debhelper.log
debian/tarantool.substvars
debian/tarantool.postinst.debhelper
debian/tarantool.postrm.debhelper
debian/tarantool/*
debian/tmp/*
obj-*/
*.cdbs-config_list
parts/
prime/
stage/
*.snap
ftp.log
sftp.log
ftpscript.txt
sftpscript.txt
*.md5sum
extra/deploy_key

# autogenerated files
src/box/sql/keywordhash.h
src/box/sql/parse.h
src/box/sql/parse.c
src/box/sql/opcodes.h
src/box/sql/opcodes.c
