body {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1;
	padding: 0;
	margin: 0;
}

#header {
	margin: 20px auto 10px auto;
	width: 960px;
	overflow: hidden;
}

#header #nav {
	width: 740px;
	float: right;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url('bg_header.png') repeat-x scroll 50% 0 white;
}

#header #nav ul {
	list-style: none outside none;
	margin: 0 15px;
	padding: 0;
}

#header #nav ul li {
	float: left;
}

#header #nav ul li a {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #eee;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	line-height: 32px;
	padding: 3px 12px;
	margin: 0 15px;
}

#header #nav ul li.current a {
	background-color: rgba(0,0,0,0.5) !important;
}

#header #nav ul li a:HOVER {
	background-color: rgba(0,0,0,0.25)
}

#header #logo {
	width: 150px;
	height: 30px;
	float: left;
	display: block;
	background: url(tarantool.png) no-repeat;
	margin: 3px 30px 0 30px;
	
}

#main {
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);

	width: 960px;

	margin: 0 auto;
}

.mBox { margin: 0 20px 10px 20px; display: inline; float: left; }
.w600 { width: 600px; }
.w280 { width: 280px; }
#tarantool p {
	margin: 10px 0;
	line-height: 18px;
}
#main li {
	margin: 10px 0;
	line-height: 14px;
}

#tarantool h1 { margin: 10px 0; font-size: 28px; font-family: HelveticaNeue-Light,"Helvetica Neue Light",Helvetica,Arial,sans-serif; color: #000; font-weight: normal; }
#tarantool h1 a { color: black; text-decoration: none; }

#tarantool h2 { margin: 10px 0; font-size: 24px; font-family: HelveticaNeue-Light,"Helvetica Neue Light",Helvetica,Arial,sans-serif; color: #000; font-weight: normal; }
#tarantool h2 a { color: black; text-decoration: none; }

#tarantool h3 { margin: 10px 0; font-size: 20px; font-family: HelveticaNeue-Light,"Helvetica Neue Light",Helvetica,Arial,sans-serif; color: #000; font-weight: normal; }
#tarantool h3 a { color: black; text-decoration: none; }

#tarantool h4 { margin: 10px 0; font-size: 16px; font-family: HelveticaNeue-Light,"Helvetica Neue Light",Helvetica,Arial,sans-serif; color: #000; font-weight: normal; }
#tarantool h4 a { color: black; text-decoration: none; }

.mt20 { margin-top: 20px !important; }
#tarantool a { color: #369;}
