/* This stylesheet heavily borrows from http://necolas.github.com/normalize.css */

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
    color: #201e9e;
}

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:active {
    outline: 0;
}

a:hover {
    outline: 0;
    background-color: rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

a.imglink:hover {
    border : 0;
    background-color: inherit;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:visited {
    color: #3f3f3f;
}

/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 1.5em;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
 */

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 100%;
}


/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-decoration: none;
    outline: 0;
    background-color: rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

/*
 * XXX
 */

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

.ycsb {
    width: 768px;
}

/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ===========================================================================
   Layout
   ======================================================================== */

/*
 * Top-level page sections:
 * body > #header #content
 */

#header, #content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}


#header {
   margin-bottom: 5px;
}
/*
 * http://sonspring.com/journal/clearing-floats
 */

.clear {
  clear: both;
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* ==========================================================================
   Grid
   ======================================================================== */

.grid {
    width: 768px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    clear: both;
}

.span_1, .span_2, .span_3, .span_4, .span_5, .span_6,
.span_7, .span_8, .span_9, .span_10, .span_11, .span_12 {
    float: left;
    dsiplay: inline; /* IE workaround */
    margin-left: 10px;
}

.span_1 { width: 70px; }
.span_2 { width: 150px; }
.span_3 { width: 230px; }
.span_4 { width: 303px; }
.span_5 { width: 390px; }
.span_6 { width: 470px; }
.span_7 { width: 550px; }
.span_8 { width: 630px; }
.span_9 { width: 710px; }
.span_10 { width: 790px; }
.span_11 { width: 870px; }
.span_12 { width: 950px; }

.lpad_1 { padding-left: 80px; }
.lpad_2 { padding-left: 160px; }
.lpad_3 { padding-left: 240px; }
.lpad_4 { padding-left: 320px; }
.lpad_5 { padding-left: 400px; }
.lpad_6 { padding-left: 480px; }
.lpad_7 { padding-left: 560px; }
.lpad_8 { padding-left: 640px; }
.lpad_9 { padding-left: 720px; }
.lpad_10 { padding-left: 800px; }
.lpad_11 { padding-left: 880px; }

.rpad_1 { padding-right: 80px; }
.rpad_2 { padding-right: 160px; }
.rpad_3 { padding-right: 240px; }
.rpad_4 { padding-right: 320px; }
.rpad_5 { padding-right: 400px; }
.rpad_6 { padding-right: 480px; }
.rpad_7 { padding-right: 560px; }
.rpad_8 { padding-right: 640px; }
.rpad_9 { padding-right: 720px; }
.rpad_10 { padding-right: 800px; }
.rpad_11 { padding-right: 880px; }


/* =============================================================================
   Custom styles
   ========================================================================== */

html, body{
    height: 100%;
    width: 768px;
    margin: auto;
}

#header, #content{
    background-color: #fff;
}

#content {
    padding-bottom: 5px;
}

#blurb {
    margin: 20px auto;
}

#blurb h1 {
    font-size: 2em;
    line-height: 1;
    text-align: center;
    margin: 15px;
}

#blurb h2 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    margin: 5px;
}

#blurb h3 {
    text-align: center;
    margin: 5px;
}

body#tarantool.index #header #blurb h1 a.index,
body#tarantool.intro #header #blurb h3 a.intro,
body#tarantool.documentation #header #blurb h3 a.documentation,
body#tarantool.download #header #blurb h3 a.download,
body#tarantool.support #header #blurb h3 a.support {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

/* =============================================================================
   Styles for tabs and buttons used in benchmark*.html
   ========================================================================== */

.b-schedule{
    height: 100%;
    width: 768px;
    margin:0 auto;
    padding: 0;
}

.header{
    font-size: 2em;
    line-height: 1;
    text-align: center;
    margin: 40 auto;
}

.b-tabs{
    height: 100%;
}
.b-tabs__list{
    padding: 0px;
    list-style: none;
    border: 1px solid #b2b2b2;
    border-bottom: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-user-select: none;
    box-shadow: 0 2px 4px -3px #000;
    -webkit-padding-start: 0;
    background-color: #f5f5f5;
    -webkit-padding-start: 0;
    overflow: hidden;
    margin: 0;
}
.b-tabs__li{
    float: left;
    padding: 10px;
    cursor: pointer;
    border-right: 1px solid #b2b2b2;
}
.b-tabs__li:last-child{
    border-right: none;
}
.b-tabs__li_on, .b-tabs__li:active{
    background-color: #fafafa;
    padding: 11px 9px 9px 11px;
    color: #3f3f3f;
}
.b-tabs__body{
    position: relative;
    padding: 20px;
    height: 980px;
    border: 2px solid black;
}
#picture1, #picture2{
    min-width: 400px;
    margin: 0 auto;
}
.b-tabs__buttons{
    padding: 0;
    right: 20px;
    border: 2px solid #b2b2b2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-user-select: none;
    box-shadow: 0 2px 4px -3px #000;
    -webkit-padding-start: 0;
    background-color: #eaeaea;
    outline: none;
    cursor: pointer;
    list-style: none;
    float: right;
}
.b-button{
    float: left;
    margin: 0;
    padding: 3px;
    border-right: 1px solid #b2b2b2;
    font-size: medium;
}
.b-button:last-child{
    border: none;
}
.b-button_on, .b-button:active{
    background-color: #fafafa;
    padding: 4px 2px 3px 4px;
    color: #3f3f3f;
}

h3 {
    text-align:center;
}
