.tntadmin {
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: green;
}

.lua {
  font-family: monospace;
  font-weight: bold;
}

.hl-keyword {
  color: green;
  font-weight: bold;
}

.hl-comment{
  color: blue;
  font-weight: bold;
}

.book {
    width: 768px;
    margin: 2pt auto;
    /*font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-size: 120%
}

.book h1 {
    margin: 80pt auto;
    font-size: 150%
}
