#header, #content{
    background-color: #fff;
}

#content {
    padding-bottom: 5px;
}

#blurb {
    margin: 20px auto;
}

#blurb h1 {
    font-size: 2em;
    line-height: 1;
    text-align: center;
    margin: 15px;
}

#blurb h2 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    margin: 5px;
}

#blurb h3 {
    text-align: center;
    margin: 5px;
}

/* ===========================================================================
   Layout
   ======================================================================== */

/*
 * Top-level page sections:
 * body > #header #content
 */

#header, #content {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
}

#header {
   margin-bottom: 5px;
}
/*
 * http://sonspring.com/journal/clearing-floats
 */

.clear {
  clear: both;
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
    color: #201e9e;
}

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:active {
    outline: 0;
}

a:hover {
    outline: 0;
    background-color: rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

a.imglink:hover {
    border : 0;
    background-color: inherit;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:visited {
    color: #3f3f3f;
}
