name: integration

on:
  push:
    branches:
      - 'master'
      - 'release/**'  # release branches
    tags:
      - '*'
  pull_request:
    types: [ opened, reopened, synchronize, labeled ]
  workflow_dispatch:
  workflow_call:
    inputs:
      submodule:
        description: Name of submodule to bump.
        required: true
        type: string
      revision:
        description: Git revision from submodule repository
        required: true
        type: string

concurrency:
  # Update of a developer branch cancels the previously scheduled workflow
  # run for this branch. However, the 'master' branch, release branch, and
  # tag workflow runs are never canceled.
  #
  # We use a trick here: define the concurrency group as 'workflow run ID' +
  # 'workflow run attempt' because it is a unique combination for any run.
  # So it effectively discards grouping.
  #
  # Important: we cannot use `github.sha` as a unique identifier because
  # pushing a tag may cancel a run that works on a branch push event.
  group: ${{ (
    github.ref == 'refs/heads/master' ||
    startsWith(github.ref, 'refs/heads/release/') ||
    startsWith(github.ref, 'refs/tags/')) &&
    format('{0}-{1}', github.run_id, github.run_attempt) ||
    format('{0}-{1}', github.workflow, github.ref) }}
  cancel-in-progress: true

jobs:
  tarantool:
    # Run on push to the 'master' and release branches of tarantool/tarantool
    # or on pull request if the 'full-ci' or 'integration-ci' label is set.
    if: github.repository == 'tarantool/tarantool' &&
        ( github.event_name != 'pull_request' ||
          contains(github.event.pull_request.labels.*.name, 'full-ci') ||
          contains(github.event.pull_request.labels.*.name, 'integration-ci') )

    uses: tarantool/tarantool/.github/workflows/reusable_build.yml@master
    with:
      ref: ${{ github.sha }}
      os: ubuntu
      dist: focal
      submodule: ${{ inputs.submodule }}
      revision: ${{ inputs.revision }}

  vshard:
    needs: tarantool
    uses: tarantool/vshard/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  expirationd:
    needs: tarantool
    uses: tarantool/expirationd/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  smtp:
    needs: tarantool
    uses: tarantool/smtp/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  memcached:
    needs: tarantool
    uses: tarantool/memcached/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  metrics:
    needs: tarantool
    uses: tarantool/metrics/.github/workflows/reusable-test.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  avro-schema:
    needs: tarantool
    uses: tarantool/avro-schema/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  queue:
    needs: tarantool
    uses: tarantool/queue/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  checks:
    needs: tarantool
    uses: tarantool/checks/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  mysql:
    needs: tarantool
    uses: tarantool/mysql/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  tarantool-c:
    needs: tarantool
    uses: tarantool/tarantool-c/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  tarantool-python:
    needs: tarantool
    uses: tarantool/tarantool-python/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  php-client:
    needs: tarantool
    uses: tarantool-php/client/.github/workflows/reusable_qa.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  php-queue:
    needs: tarantool
    uses: tarantool-php/queue/.github/workflows/reusable_qa.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  go-tarantool:
    needs: tarantool
    uses: tarantool/go-tarantool/.github/workflows/reusable_testing.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  crud:
    needs: tarantool
    uses: tarantool/crud/.github/workflows/reusable_test.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}

  ddl:
    needs: tarantool
    uses: tarantool/ddl/.github/workflows/reusable_test.yml@master
    with:
      artifact_name: tarantool-ubuntu-focal-${{ github.sha }}
