name: lint

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
    tags:
      - '**'
  pull_request:
  workflow_dispatch:

concurrency:
  # Update of a developer branch cancels the previously scheduled workflow
  # run for this branch. However, the 'master' branch, release branch (1.10,
  # 2.8, etc.), and tag workflow runs are never canceled.
  #
  # We use a trick here: define the concurrency group as 'workflow run ID' +
  # 'workflow run attempt' because it is a unique combination for any run.
  # So it effectively discards grouping.
  #
  # Important: we cannot use `github.sha` as a unique identifier because
  # pushing a tag may cancel a run that works on a branch push event.
  group: ${{ (
    github.ref == 'refs/heads/master' ||
    github.ref == 'refs/heads/1.10' ||
    startsWith(github.ref, 'refs/heads/2.') ||
    startsWith(github.ref, 'refs/tags/')) &&
    format('{0}-{1}', github.run_id, github.run_attempt) ||
    format('{0}-{1}', github.workflow, github.ref) }}
  cancel-in-progress: true

env:
  CI_MAKE: make -f .travis.mk

jobs:
  luacheck:
    # Run on push to the 'master' and release branches of tarantool/tarantool
    # or on pull request if the 'notest' label is not set.
    if: github.repository == 'tarantool/tarantool' &&
        ( github.event_name != 'pull_request' ||
          ( github.event_name == 'pull_request' &&
            !contains(github.event.pull_request.labels.*.name, 'notest') ) )

    runs-on: ubuntu-20.04-self-hosted

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: test
        run: ${CI_MAKE} test_debian_luacheck
      - name: call action to send Telegram message on failure
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_CORE_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_CORE_TO }}
        uses: ./.github/actions/send-telegram-notify
        if: failure()

  release-notes:
    # Run on push to the 'master' and release branches of tarantool/tarantool
    # or on pull request if the 'notest' label is not set.
    if: github.repository == 'tarantool/tarantool' &&
        ( github.event_name != 'pull_request' ||
          ( github.event_name == 'pull_request' &&
            !contains(github.event.pull_request.labels.*.name, 'notest') ) )

    runs-on: ubuntu-20.04-self-hosted

    steps:
      # We don't need neither deep fetch, nor submodules here.
      - uses: actions/checkout@v2.3.4
      # Don't use actions/setup-python to don't bother with proper
      # setup of our self-hosted machines, see [1].
      #
      # Any python version is okay for the script, even Python 2.
      #
      # [1]: https://github.com/actions/setup-python#using-setup-python-with-a-self-hosted-runner
      - run: ./tools/gen-release-notes
      - name: call action to send Telegram message on failure
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_CORE_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_CORE_TO }}
        uses: ./.github/actions/send-telegram-notify
        if: failure()

  checkpatch:
    # Run only if the workflow was triggered by a pull request for
    # tarantool/tarantool that doesn't have the 'notest' label.
    if: github.repository == 'tarantool/tarantool' &&
        ( github.event_name == 'pull_request' &&
          !contains(github.event.pull_request.labels.*.name, 'notest') )

    runs-on: ubuntu-20.04-self-hosted

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: test
        uses: tarantool/checkpatch/.github/actions/checkpatch@master
        with:
          revision-range: HEAD~${{ github.event.pull_request.commits }}..HEAD
      - name: call action to send Telegram message on failure
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_CORE_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_CORE_TO }}
        uses: ./.github/actions/send-telegram-notify
        if: failure()
