# This workflow is used within tarantool/luajit repository CI to
# implement integration testing without manual LuaJIT submodule
# bump and draft PR creation.
# It bumps the given LuaJIT revision for the given Tarantool
# release, builds Tarantool with the given buildtype and GC64
# option and runs Tarantool testing suite.

name: LuaJIT integration testing

on:
  workflow_call:
    inputs:
      arch:
        description: Name of the arch family to be used as a runner label
        required: true
        type: string
      # FIXME: Remove this inputs entry when transition to
      # CMAKE_EXTRA_PARAMS usage is finished.
      buildtype:
        description: CMake build type value (obsolete, use CMAKE_EXTRA_PARAMS)
        required: false
        type: string
        default: Debug
      CMAKE_EXTRA_PARAMS:
        description: CMake extra parameters
        required: false
        type: string
        default: ''
      # FIXME: Remove this inputs entry when transition to
      # CMAKE_EXTRA_PARAMS usage is finished.
      GC64:
        description: CMake option value to enable LuaJIT GC64 mode (obsolete, use CMAKE_EXTRA_PARAMS)
        required: false
        type: string
        default: OFF
      os:
        description: Name of the OS family to be used as a runner label
        required: true
        type: string
      release:
        description: Git revision from tarantool/tarantool repository
        required: false
        type: string
        default: master
      revision:
        description: Git revision from tarantool/luajit repository
        required: true
        type: string

jobs:
  luajit-integration:
    runs-on: [self-hosted, regular, '${{ inputs.os }}', '${{ inputs.arch }}']
    steps:
      - name: Prepare checkout
        uses: tarantool/actions/prepare-checkout@master

      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: tarantool/tarantool
          fetch-depth: 0
          submodules: recursive
          ref: ${{ inputs.release }}

      - name: LuaJIT bump
        run: |
          pushd third_party/luajit
          git fetch origin
          git checkout ${{ inputs.revision }}
          popd
          # XXX: export the following environment variables to
          # suppress git config warning. The commit is required to
          # avoid resetting dirty changes in LuaJIT submodule.
          export GIT_COMMITTER_NAME="LuaJIT integration testing workflow"
          export GIT_COMMITTER_EMAIL="noreply@tarantool.org"
          export GIT_AUTHOR_NAME="LuaJIT integration testing workflow"
          export GIT_AUTHOR_EMAIL="noreply@tarantool.org"
          # XXX: --allow-empty is required to rerun flaky tests
          # for tarantool/luajit HEAD when it is already bumped
          # in tarantool/tarantool repo to the same revision.
          # Otherwise the command below fails with "nothing to
          # commit" reason.
          git commit --allow-empty -m "luajit: integration testing bump" \
            third_party/luajit

      - name: Set environment
        uses: ./.github/actions/environment

      - name: Install deps on Linux
        uses: ./.github/actions/install-deps-debian
        if: ${{ inputs.os == 'Linux' }}

      - name: Install deps on Darwin
        uses: ./.github/actions/install-deps-osx
        if: ${{ inputs.os == 'macOS' }}

      - name: Run tests
        env:
          CMAKE_EXTRA_PARAMS: >
            -DCMAKE_BUILD_TYPE=${{ inputs.buildtype }}
            -DLUAJIT_ENABLE_GC64=${{ inputs.GC64 }}
        run: make -f .test.mk test-luajit-${{ inputs.os }}-${{ inputs.arch }}
