name: CI

on: [push, pull_request]

env:
  CI_MAKE: make -f .travis.mk

jobs:
  # By default jobs on push and pull_request filters run duplicating each other.
  # To avoid of it used additional external module 'skip-duplicate-actions'.
  # Used option 'concurrent_skipping' to skip duplicating jobs. Check info:
  # https://github.com/marketplace/actions/skip-duplicate-actions#concurrent_skipping
  pre_job:
    continue-on-error: true
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          # avoid of duplicating runs on "push & pull_request"
          # avoid of running previous of the updated jobs
          concurrent_skipping: 'same_content'

  osx_11_0:
    needs: pre_job
    if: |
      needs.pre_job.outputs.should_skip != 'true' ||
      github.event_name == 'push'

    runs-on: macos-11.0

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: test
        run: ${CI_MAKE} test_osx_github_actions
      - name: artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: osx_11_0
          retention-days: 1000000
          path: test/var/artifacts
