name: perf_linkbench_ssd

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
  schedule:
    - cron:  '0 */3 * * *'

jobs:
  perf_linkbench_ssd:
    if: github.repository == 'tarantool/tarantool'

    runs-on: perf-sh9

    steps:
      - name: set PATH to GIT of the newer version 2.9.0
        run: echo "/usr/local/git/bin" | tee -a $GITHUB_PATH
      - name: cleanup workspace
        run: docker run -w /source -v ${PWD}:/source -i centos:8 /bin/bash -c "chown -R $(id -u):$(id -g) * .[^.]*"
      - uses: actions/checkout@v1
      - name: test
        env:
          BENCH: 'linkbench'
          DOCKER_RUN_ARGS: '-v /test_ssd/gitlab:/builds --memory=3g --memory-swap=3g'
        uses: ./.github/actions/perf
      - name: call action to send Telegram message on failure
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_CORE_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_CORE_TO }}
        uses: ./.github/actions/send-telegram-notify
        if: failure()
      - name: artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: perf_linkbench_ssd
          retention-days: 21
          path: |
            *_result.txt
            *_t_version.txt
