name: perf_sysbench

on:
  push:
    tags:
      - '*'
  repository_dispatch:
    types: [backend_automation]
  workflow_dispatch:
  schedule:
    - cron:  '0 */3 * * *'

jobs:
  perf_sysbench:
    if: github.event_name == 'push' ||
        github.event_name == 'repository_dispatch' ||
        github.event_name == 'workflow_dispatch' ||
        github.event_name == 'schedule'

    runs-on: perf-sh3

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - uses: actions/checkout@v2.3.4
        with:
          path: sysbench
          repository: tarantool/sysbench
      - name: tarantool build
        run: |
          cmake . -DENABLE_DIST=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo && make -j 4
      - name: configure perf benchmark
        run: |
          ./autogen.sh
          ./configure --with-tarantool --without-mysql
          make -j 4
        working-directory: ${{ github.workspace }}/sysbench
      - uses: actions/checkout@v2.3.4
        with:
          path: bench-run
          repository: tarantool/bench-run
#         TODO: delete when publishing would be erased from 'run' scripts
          ref: VitaliyaIoffe/do-not-publish
      - name: run benchmark
        run: ./run.sh
        working-directory: ${{ github.workspace }}/bench-run/benchs/sysbench
      - name: call action to send Telegram message on failure
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_CORE_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_CORE_TO }}
        uses: ./.github/actions/send-telegram-notify
        if: failure()
      - name: artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: perf_sysbench
          retention-days: 21
          path: |
            ${{ github.workspace }}/bench-run/benchs/sysbench/*_result.txt
            ${{ github.workspace }}/bench-run/benchs/sysbench/*_t_version.txt
