name: perf_nosqlbench_hash

on:
  push:
    tags:
      - '*'
  repository_dispatch:
    types: [backend_automation]
  workflow_dispatch:
  schedule:
    - cron:  '0 */3 * * *'

jobs:
  perf_nosqlbench_hash:
    if: github.event_name == 'push'
        github.event_name == 'repository_dispatch' ||
        github.event_name == 'workflow_dispatch' ||
        github.event_name == 'schedule'

    runs-on: perf-sh1

    strategy:
      fail-fast: false

    steps:
      - name: set PATH to GIT of the newer version 2.9.0
        run: echo "/usr/local/git/bin" | tee -a $GITHUB_PATH
      - uses: actions/checkout@v1
      - name: test
        env:
          BENCH: 'nosqlbench'
          ARG: 'hash'
        uses: ./.github/actions/perf
      - name: call action to send Telegram message on failure
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_CORE_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_CORE_TO }}
        uses: ./.github/actions/send-telegram-notify
        if: failure()
      - name: artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: perf_nosqlbench_hash
          retention-days: 21
          path: |
            *_result.txt
            *_t_version.txt
