name: reusable_build

on:
  workflow_call:
    inputs:
      ref:
        description: |
          The tarantool branch, tag, or commit SHA to checkout for build
        default: master
        required: false
        type: string
      os:
        description: 'The name of the OS to build tarantool packages for'
        default: ubuntu
        required: false
        type: string
      dist:
        description: 'The version of the OS'
        default: focal
        required: false
        type: string
      submodule:
        description: Name of submodule to bump.
        required: false
        type: string
      revision:
        description: Git revision from submodule repository
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      OS: ${{ inputs.os }}
      DIST: ${{ inputs.dist }}
    steps:
      - name: Prepare checkout
        uses: tarantool/actions/prepare-checkout@master
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
          # Fetch the entire history for all branches and tags.
          fetch-depth: 0
          # Enable recursive submodules checkout.
          submodules: recursive
      - name: 'Get the commit SHA'
        id: get_sha
        run: echo "sha=$(git log -1 --format='%H')" >> $GITHUB_OUTPUT
      - uses: ./.github/actions/environment
      - name: Optional submodule bump
        if: ${{ inputs.submodule }}
        uses: ./.github/actions/bump-submodule
        with:
          submodule: ${{ inputs.submodule }}
          revision: ${{ inputs.revision }}
      - name: 'Build tarantool packages for ${{ env.OS }}(${{ env.DIST }})'
        id: run_build
        env:
          MAKE_CHECK: false
          PRESERVE_ENVVARS: 'MAKE_CHECK,${{ env.PRESERVE_ENVVARS }}'
        run: make -f .pack.mk package
      - name: 'Upload build artifacts'
        uses: actions/upload-artifact@v3
        with:
          name: tarantool-${{ env.OS }}-${{ env.DIST }}-${{ steps.get_sha.outputs.sha }}
          retention-days: 21
          path: |
            build/tarantool*.deb
            build/tarantool*.rpm
          if-no-files-found: error
      - name: 'Upload logs if the build failed'
        if: failure() && steps.run_build.conclusion == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: tarantool-build-log-${{ env.OS }}-${{ env.DIST }}-${{ steps.get_sha.outputs.sha }}
          retention-days: 21
          path: build/*build*
          if-no-files-found: error
