name: source

on:
  push:
    tags:
      - '**'
  workflow_dispatch:

env:
  CI_MAKE: make -f .gitlab.mk

jobs:
  source:
    if: github.repository == 'tarantool/tarantool'

    runs-on: ubuntu-20.04-self-hosted

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: packaging
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_S3_ENDPOINT_URL: ${{ secrets.AWS_S3_ENDPOINT_URL }}
        run: |
          sudo apt-get -y update
          sudo apt-get install -y awscli
          ${CI_MAKE} source_deploy
      - name: call action to send Telegram message on failure
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_CORE_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_CORE_TO }}
        uses: ./.github/actions/send-telegram-notify
        if: failure()
