name: source

on:
  push:
    tags-ignore:
      - '**-entrypoint'
  workflow_dispatch:

env:
  CI_MAKE: make -f .pack.mk

jobs:
  source:
    if: github.repository == 'tarantool/tarantool'

    runs-on: ubuntu-22.04

    container:
      image: docker.io/tarantool/testing:ubuntu-focal

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
      - uses: ./.github/actions/environment
      - name: packaging
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_S3_ENDPOINT_URL: ${{ secrets.AWS_S3_ENDPOINT_URL }}
        run: ${CI_MAKE} source-deploy
      - name: Send VK Teams message on failure
        if: failure()
        uses: ./.github/actions/report-job-status
        with:
          bot-token: ${{ secrets.VKTEAMS_BOT_TOKEN }}
