name: tree

on:
  push:
    branches:
      - 'master'
      - 'release/**'

concurrency:
  # Update of a developer branch cancels the previously scheduled workflow
  # run for this branch. However, the 'master' branch, release branch, and
  # tag workflow runs are never canceled.
  #
  # We use a trick here: define the concurrency group as 'workflow run ID' +
  # 'workflow run attempt' because it is a unique combination for any run.
  # So it effectively discards grouping.
  #
  # Important: we cannot use `github.sha` as a unique identifier because
  # pushing a tag may cancel a run that works on a branch push event.
  group: ${{ (
    github.ref == 'refs/heads/master' ||
    startsWith(github.ref, 'refs/heads/release/') ||
    startsWith(github.ref, 'refs/tags/')) &&
    format('{0}-{1}', github.run_id, github.run_attempt) ||
    format('{0}-{1}', github.workflow, github.ref) }}
  cancel-in-progress: true

jobs:
  entrypoint-tag:
    if: github.repository == 'tarantool/tarantool'
    runs-on: ubuntu-20.04-self-hosted

    steps:
      - name: Prepare checkout
        uses: tarantool/actions/prepare-checkout@master
      - name: Sources checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: ./tools/check-entrypoint.sh
      - name: Send VK Teams message on failure
        if: failure()
        uses: ./.github/actions/report-job-status
        with:
          bot-token: ${{ secrets.VKTEAMS_BOT_TOKEN }}
